@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-variation-settings:
        "slnt" 0;
}

/* header style */
.header {
    width: 100%;
    height: 715px;
    margin: 0 auto;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}

.navbar {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


}

.hidden {

    width: 18px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #FFF;
}

.nav-title {
    color: #E6533C;
    font-family: inter-font;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    /* 43.2px */
}

.nav-links {
    display: flex;
    gap: 47px;

}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.link-one {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 46px;
    background: #E6533C;
}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-title {
    align-self: stretch;
    color: #FFF;
    font-family: Inter;
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 93.6px */
    margin-bottom: 24px;
}

.banner-text {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    margin-left: 190px;
}

.banner-description {
    align-self: stretch;
    color: rgba(255, 255, 255, 0.50);
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
}

.shape {
    color: #FFF;
    font-family: inter-font;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.banner-btn {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.btn-one {
    display: flex;
    width: 224px;
    padding: 16px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    background: #E6533C;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    /* 122.222% */
}

.btn-two {
    display: flex;
    width: 224px;
    padding: 16px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    /* 122.222% */
}

.banner-img img {
    width: 349px;
    height: 580px;
    margin-right: 214px;
    flex-shrink: 0;
    background: lightgray -451.558px 0px / 267.675% 100.345%
    
    
}

.card-one {
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    text-align: center;
   
}

.workout-num {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.workout-text {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

/* Responsive design */

@media screen and (max-width: 576px) {
    .nav-item {
        display: none;
    }

    #menu-icon {
        display: block;
        /* Show menu icon on mobile */
        font-size: 1.5rem;
        cursor: pointer;
    }

}

@media screen and (min-width: 577px) {

    #menu-icon {
        display: none;

    }
}